body {
  /*border: 2px solid red;*/
  background-color: lightgray;
  margin: 2%;
}

.headertitle {
  font-weight: bold;
  font-size: 60px;
}

.page-header {
  text-align: center;
  /*border: 2px solid #337AB7;*/
}

.panel-title {
  /*border: 2px solid yellow;*/
  font-weight: bold;
}

form {
  /*border: 2px solid #337AB7;*/
  background-color: white;
}

label {
  font-weight: bold;
}

th {
  font-weight: bold;
}

.panel-body {
  background-color: white;
  /*border:2px solid #337AB7;*/
}

#trainLog {
  /*border: 2px solid red;*/
}

thead {
  /*border: 2px solid green;*/
}

tbody {
  /*border: 2px solid purple;*/
}
